* {
	margin: 0;
	padding: 0;
}
:root {
	--cor-fundo: #FFE3F7;
	--cor-menu: #F9CAE1;
}
body {
	background-color: var(--cor-fundo);
}

.logo{
	text-align: center;
	background-color: #FAF0F5;
}
.img1{
	text-align: center;
	background-color: #FAF0F5;
}
.menu1 {
	background-color: var(--cor-menu);
	height: 50px;
}

.menu{
	list-style:none;
	float:left;
}
.menu li{
position:relative;
float:left;
height: 50px;
text-align: center;
padding-top: 5px;

}
.menu li a{
	color:#333; 
	text-decoration:none; 
	padding:10px 50px; 
	width: 0 auto;
	display:block;
}

.menu li a:hover{
background:#333;
color:#fff;
}

.menu li  ul{
position:absolute;
top:0 auto;
left:0;
background-color:#fff;
display:none;
}
.menu li:hover ul, .menu li.over ul{
	display:block;
	background-color: var(--cor-menu);
	color: black;
	font-size: 12px;
}
.menu li ul li{
	display:block;
	width: auto;
}
.make {
	margin-left: 5px;
}
.card {
	border-radius: 25px;
	background-color: #fff;
}
.card-image{
	position: relative;
	height: 215px;
	width: 215px;
	border-radius: 15%;
	background-color: #fff;
	padding: 3px;
}
.card-image .card-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 15%;
	border: 4px;
}
main {
	background-color: var(--cor-fundo);
	height: 900px;
}
