* {
	margin: 0;
	padding: 0;
}
:root {
	--cor-fundo: #f5f5f5;
	--cor-menu: #F9CAE1;
}
body {
	background-color: var(--cor-fundo);
}

.logo{
	text-align: center;
	background-color: #FAF0F5;
}
.img1{
	text-align: center;
	background-color: #FAF0F5;
}
.menu1 {
	background-color: var(--cor-menu);
	height: 50px;
}

.menu{
	list-style:none;
	float:left;
}
.menu li{
position:relative;
float:left;
height: 50px;
text-align: center;
padding-top: 5px;

}
.menu li a {
	color: var(--cor-menu); 
	text-decoration:none; 
	padding:10px 50px; 
	display:block;
}

li a:hover {
background: var( --cor-menu );
color:#fff;}

.menu li  ul{
position:relative;
top: auto 0;
left:0;
background-color:#fff;
display:none;
}

.make {
	margin-left: 5px;
}